.content {
    margin: 48px auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 500px);
    align-items: stretch;
}

.cart {
    padding: 12px 24px;
    border-left: 1px solid #eee;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.cart-row__info {
    display: flex;
    align-items: center;
}

.cart-row__info__units {
    margin-right: 3px;
}

.cart-row strong {
    font-size: 1.2em;
}

.cart-row img {
    margin-right: 12px;
    max-width: 120px;
}

.delivery {
    padding: 12px;
    margin-bottom: 12px;
}

.delivery label {
    display: block;
    margin-bottom: 3px;
}

.delivery input {
    margin-right: 12px;
}

.total {
    padding-top: 12px;
    border-top: 1px solid #222;
}

.total strong {
    font-size: 1.5em;
}